{
    "root": true,
    "ignorePatterns": [
        "dist"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended"
    ],
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "project": [
            "./tsconfig.json"
        ]
    },
    "plugins": [
        "@typescript-eslint",
        "prettier",
        "unused-imports"
    ],
    "rules": {
        "@typescript-eslint/no-non-null-assertion": "off",
        "@typescript-eslint/no-explicit-any": "off",
        "spaced-comment": [
            "error",
            "always"
        ],
        "@typescript-eslint/no-unused-vars": "error",
        "prettier/prettier": "error"
    }
}